@font-face {
    font-family: 'Work Sans';
    src: url('../assets/fonts/WorkSans-VariableFont_wght.ttf');
}

:root {
    --card-bg-white: hsl(0, 100%, 100%);
    --purple-100: hsl(275, 100%, 97%);
    --purple-600: hsl(292, 16%, 49%);
    --purple-950: hsl(292, 42%, 14%);

    --ff-normal: 'Work Sans', sans-serif;

    --fs-base: 1.6rem;

    --fw-normal: 400;
    --fw-medium: 600;
    --fw-heavy: 700;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-inline: 2rem;
    overflow: hidden;

    font-family: var(--ff-normal);
    font-size: 1.3rem;
    line-height: 1.5;

    background-color: var(--purple-100);
    background-image: url('../assets/images/background-pattern-mobile.svg');
    background-repeat: repeat-x;
}

h1 {
    font-size: 3.5rem;
    width: 75%;
    margin-inline-start: 1.5rem;
    font-weight: var(--fw-heavy);
}

h2 {
    font-size: 1.6rem;
    width: 75%;
    user-select: none;
    -webkit-user-select: none;
    font-weight: var(--fw-medium);
}

h2:hover {
    color: var(--purple-600);
}

h1, h2 {
    color: var(--purple-950);
}

img {
    pointer-events: none;
}

p{
    color: var(--purple-600)
}

.card-title > img {
    width: 2.5rem;
}

section:not(:last-of-type) {
    border-bottom: 2px solid var(--purple-100);
}

.card {
    background-color: var(--card-bg-white);
    padding: 3rem;
    border-radius: 1rem;
    max-width: 425px;
}

.card-title, .question-header {
    display: flex;
}

.question-header {
    justify-content: space-between;
    cursor: pointer;
}

.question > h2 {
    width: 80%;
}

.hidden {
    display: none;
}

@media (min-width: 376px) {
    body {
        background-image: url('../assets/images/background-pattern-desktop.svg');
    }
}