@font-face {
    font-family: 'Work Sans';
    src: url('../assets/fonts/WorkSans-VariableFont_wght.ttf');
}

:root {
    --card-bg-white: hsl(0, 100%, 100%);
    --purple-100: hsl(275, 100%, 97%);
    --purple-600: hsl(292, 16%, 49%);
    --purple-950: hsl(292, 42%, 14%);

    --ff-normal: 'Work Sans', sans-serif;

    --fs-base: 1.6rem;

    --fw-normal: 400;
    --fw-medium: 600;
    --fw-heavy: 700;
}

html {
    font-size: 62.5%;
}